/* Styles go here */
* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

}

.bod{
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(../paper3.jpeg);
  color: white;
}
